* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60vh;
    height: 80vh;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    padding: 10px;
}

#screen {
    width: auto;
    height: 18%;
    border-radius: 15px;
    border: 2px solid #DAA520;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.button {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #2A3439;
    height: 77px;
    background-color: #E5E4E2;
}

.button:hover {
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.button.zero {
    flex-grow: 2;
}

.button.equal {
    flex-grow: 0.64;
}

.button.orange {
    background-color: #FF9966;
}

.button.blue {
    background-color: #8AB9F1;
}
